<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Изменить свой профиль</h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, multipart: true) do |f| %>
        <%= image_tag(resource.avatar || "/images/avatar-icon.png") %>
    <div class="form-group">


      <%= f.label "Изменить аватар"%>
      <%= f.file_field :avatar, class: "form-control", id: "avatar-upload"  %>
    </div>
    <div class="form-group">
      <%= f.label :login %>
      <%= f.text_field :login, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
      <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>
    <%= f.submit "Сохранить", class: "btn btn-success btn-xs" %>
    <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete, class: "btn btn-xs btn-danger" %>

    <%= link_to "Назад", :back, class: "btn btn-xs btn-success" %>
  </div>
<% end %>

</div>


